@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #f0f0f0, #d9d9d9);
  border-radius: 10px;
  margin: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #b3b3b3, #808080);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #808080, #666666);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner {
  background: transparent;  
}
